#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  flex-wrap: wrap;
  margin-bottom: 55px;
}


.footer__list {
  list-style-type: none;
  display: flex;
}

.footer__list .footer__item {
  margin-right: 15px;
  /*flex-wrap: nowrap;*/
}

.footer__list .footer__link {
  color: #003569;
}

#footer .footer__copyright {
  colore: #999999;
}
