#login {
  width: 75%;
  margin: 100px auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.login__column {
  width: 47%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#login .login__column > img {
  max-width: 100%;
}

.login__column .loginbox {
  background: white;
  width: 270px;
  height: 250px;
  padding: 20px 40px 20px 40px;
  border: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}

.login__column .loginbox .login__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login__form input {
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  border: 1px solid #EFEFEF;
  padding: 9px 8px 7px;
  font-size: 14px;
  color: #262626;
  border-radius: 3px;
  -webkit-appearance: none;
  width: 100%;
  width: 270px;
  height: 30px;
  display: flex;
  justify-content: space-between;

}

.login__column .loginbox .login__form input:first-child {
  margin-bottom: 10px;
}

.login__column .loginbox .login__form input:nth-child(2) {
  margin-bottom: 15px;
}

.loginbox input:focus {
  outline: none;
  border-color: #B0B0B0;
}


.login__column .loginbox .login__form input[type="submit"] {
  border: 0;
  color: white;
  font-weight: 600;
  background-color: #3897f0;
  padding: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.login__form input[type="submit"]:active {
  background-color: #74b6f5;
}

.login__small-link {
  text-decoration: none;
  font-size: 14px;
  color: #003569;
}

.loginbox__02 {
  background: white;
  width: 350px;
  height: 70px;
  border: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.loginbox__02 a {
  margin-left: 5px;
  color: #3897f0;
}

.login__column .tbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tbox .login__text {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px;
  text-align: center;
}

.tbox .tbox__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.tbox .tbox__images img {
  height: 37px;
}
.tbox .tbox__images img:first-child {
  margin-right: 8px;
}
